.google-flights {
    border-radius: 10px !important;
    overflow: visible !important;
    pointer-events: none;
    position: absolute !important;
    top: -8px;
    right: -8px;

    &.is-open {
        pointer-events: initial;
    }

    .is-rest {
        border: none;
    }

    .is-in-range {
        background-color: #daedfd !important;
        .datepicker__button {
            color: #3c4043 !important;
            background-color: transparent!important;
        }
    }

    .is-selected {
        .datepicker__button {
            border-radius: 50%;
            background-color: #4285f4 !important;
        }
    }

    .datepicker__day {
        border: none !important;
        color: #3c4043 !important;
    }

    .datepicker__button {
        border-radius: 50%;
        border: 2px solid transparent !important;

        &:hover {
            border-color: #4285f4 !important;
            background-color: #fff !important;
        }
    }
} 