@import "../../shared/scss/_helpers";
@import "../../shared/scss/_vars";

.standard-theme {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid $day-border-color;
    width: 300px;
    display: inline-block;
	z-index: 2;
    border-radius: $border-radius;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
	overflow: hidden;
	background-color: #fff;

    * {
        box-sizing: border-box;
	}

	&.is-directive {
		display: none;	
		position: absolute;
	}
	
	&.is-open {
		display: inline-block;
	}

    &.is-animate {
        transition: height .2s ease-in;

        .datepicker__calendar-wrapper {
            position: absolute;
            width: 200%;
            left: 0;
        }

        .datepicker__calendar {
            float: left;
            width: 100%;
        }

        .datepicker__calendar-container {
            float: left;
        }
    }

    .datepicker__calendar-container {
        padding: 0 10px 10px;
    }

    table {
        width: 100%;
        table-layout: fixed;
        border-spacing: 0;
        border-collapse: collapse;
    }

    td {
        padding: 0;
    }

    .datepicker__weekdays-wrapper {
        @include clearfix();
    }

    .datepicker__weekdays-container {
        padding: 10px 10px 0;
        float: left;
    }

    .datepicker__weekdays {
        table-layout: fixed;
        width: 100%;
    }

    .datepicker__weekday {
        color: grey;
        font-size: 12px;
        height: 20px;
        text-align: center;
    }

    .datepicker__day {
        text-align: center;
        height: 40px;
        width: $day-width;
        border: $day-border;

        &.is-rest {
            border: none;
        }
    }

    .datepicker__button {
        @include reset-btn();
        cursor: pointer;
        color: $day-text-color;
        width: 100%;
        height: 100%;
        border-radius: $day-border-radius;

        &:hover {
            border: 1px solid $day-border-color-hover;
            background-color: $day-bg-hover;
            color: $day-text-color-hover;
        }
    }

    .is-hidden {
        opacity: 0;
    }

    .is-rest {
        .datepicker__button {
            color: $day-rest-text-color;
        }
    }

    .is-today {
        .datepicker__button {
            background-color: $day-bg-today;
        }
    }

    .is-selected {
        .datepicker__button {
            background-color: $day-selected-bg;
            color: $day-selected-color;

            &:hover {
                background-color: $day-selected-bg-hover;
            }
        }
    }

    .is-in-range {
        .datepicker__button {
            background-color: $day-in-range-bg;
            color: white;

            &:hover {
                background-color: $day-in-range-bg-hover;
            }
        }
    }

    .is-start-date {
        .datepicker__button {
            background-color: $day-start-date-bg;
            color: white;
        }
    }

    .is-end-date {
        .datepicker__button {
            background-color: $day-end-date-bg;
            color: white;
        }
    }

    .is-disabled {
        .datepicker__button {
            color: $day-disabled-text-color;
            cursor: default;

            &:hover {
                background-color: transparent;
            }
        }
    }
}
