$day-navigation-border-color: lighten(#8e8d8a, 20%);
$day-navigation-border-color-hover: #8e8d8a;
$datepicker-border: none;
$day-border: none;
$day-border-color: transparent;
$day-border-color-hover: transparent;
$day-rest-text-color: lighten(#8e8d8a, 20%);
$day-disabled-text-color: lighten(#8e8d8a, 10%);
$day-text-color: #fff;
$day-text-color-hover: #fff;
$day-selected-color: #0068aa;
$day-selected-bg: #fff;
$day-selected-bg-hover: darken(#fff, 10%);
$day-selected-radius: 50%;
$day-bg-hover: darken(#0099da, 5%);
$day-bg-today: transparent;
$day-border-today: 1px solid #fff;
$day-start-date-bg: #fff;
$day-end-date-bg: #fff;
$day-in-range-bg: #0068aa;
$day-in-range-bg-hover: darken(#0068aa, 5%);
$border-radius: 0;
$box-shadow: none;
$day-width: auto;
$day-height: auto;
$day-border-radius: 50%;
$day-end-date-radius: 0 50% 50% 0;
$day-start-date-radius: 50% 0 0 50%;
$weekday-color: #fff;
$outer-spacing: 2.5rem;