@import '../../../shared/scss/shared';

$google-border-color: #dadce0;

:host {
    .google-flights__container {
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(60,64,67, 0.3), 0 4px 8px 3px rgba(60,64,67, 0.15);
        padding: 28px 16px 28px;
        display: flex;
        flex-direction: row-reverse;
    }

    .google-flights__date-container {
        position: relative;
        width: 400px;
    }

    .google-flights__datepicker {
        position: absolute;
        top: 8px;
        right: 16px;
    }

    .google-flights__datepicker-header {
        padding: 8px;
        border-bottom: 1px solid $google-border-color;
        z-index: 2;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .google-flights__date-fields-wrapper {
        display: flex;
    }

    .google-flights__datepicker-footer {
        @include clearfix();

        padding: 8px;   
        border-top: 1px solid $google-border-color;
    }

    .google-flights__nav-button {
        position: absolute;
        height: 40px;
        width: 40px;
        background-color: #fff;
        border-radius: 100%;
        box-shadow: 0 0 4px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.24);
        cursor: pointer;
        margin: 0 -20px;
        pointer-events: all;
        padding: 0;
        top: 190px;

        &:before {
            height: 40px;
            width: 40px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 24px;
            content: '';
            display: block;
            outline: none;
        }

        &.is-prev {
            left: 0;

            &:before {
                background-image: url(//www.gstatic.com/images/icons/material/system/2x/keyboard_arrow_left_black_24dp.png);
            }
        }

        &.is-next {
            right: 0;
 
            &:before {
                background-image: url(//www.gstatic.com/images/icons/material/system/2x/keyboard_arrow_right_black_24dp.png);
            }
        }
    }

    .google-flights__reset-button {
        @include reset-btn();

        cursor: pointer;
        margin-right: 6px;
    }

    .google-flights__button {
        @include reset-btn();

        cursor: pointer;
        padding: 4px 12px;
        background-color: #4285f4;
        color: #fff;
        border-radius: 8px;
        height: 34px;
        float: right;
        font-size: 14px;
        text-transform: uppercase;
    }
}