@import '../../../shared/scss/shared';

$google-border-color: #dadce0;

:host {
    min-width: 400px;
    display: flex;
    justify-content: space-evenly;

    .date-field__input {
        border: 1px solid $google-border-color;
        height: 44px;
        color: #3c4043;
        font: 400 14px/20px Roboto, HelveticaNeue, Arial, sans-serif;
        letter-spacing: 0.2px;
        padding: 0 20px;
        border-radius: 6px;
        margin-left: 6px;
        width: 100%;

        .is-range {
        }

        &.is-selected,
        &:focus {
            background-color: #F4F8FF;
            border-color: #1967d2;
            border-width: 2px;
            outline: none;
        }
    }

    .date-field__reset-button {
        @include reset-btn();

        cursor: pointer;
        margin-right: 6px;
    }
}