@import "../common/scss/_helpers";
@import "../common/scss/_vars";

:host {
    @include clearfix();
    position: relative;
    display: block;
    padding: 10px;

    &.is-animate {
        .navigation__title-wrapper {
            position: absolute;
            width: 200%;
            left: 0;
        }
    }

    .navigation__title {
        width: 100%;
        font-weight: bold;
        text-align: center;
        float: left;
        line-height: 2.2rem;
    }

    .navigation__button {
        @include reset-btn();
        cursor: pointer;
        position: relative;
        z-index: 1;
        background-color: white;
        border: 1px solid $day-navigation-border-color;        
        text-align: center;
        width: 32px;
        height: 32px;
        border-radius: $border-radius;

        &:hover {
            border-color: $day-navigation-border-color-hover;
        }

        &.is-previous {
            float: left;
        }

        &.is-next {
            float: right;
        }
    }
}