@import "../common/scss/_helpers";
@import "../common/scss/_vars";

:host {
    @include clearfix();
    position: relative;
    display: block;
    padding: 10px;

    .navigation__title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
    }
    .navigation__button {
        @include reset-btn();
        cursor: pointer;
        border: 1px solid $day-navigation-border-color;        
        text-align: center;
        width: 32px;
        height: 32px;
        border-radius: $border-radius;

        &:hover {
            border-color: $day-navigation-border-color-hover;
        }

        &.is-previous {
            float: left;
        }

        &.is-next {
            float: right;
        }
    }

}