@import 'app/shared/scss/shared';

@import 'node_modules/bootstrap/scss/reboot';
@import 'node_modules/bootstrap/scss/grid';
@import 'node_modules/bootstrap/scss/buttons';

@import 'node_modules/prismjs/themes/prism-okaidia';
@import 'app/shared/scss/themes/google-flights';

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #fff;
}