@import "../../shared/scss/_helpers";
@import "../../shared/scss/_vars";

:host {
	font-family: Arial, Helvetica, sans-serif;
    border: $datepicker-border;
    display: inline-block;
    position: relative;
    width: #{(2 * $outer-spacing) + 22rem};
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    overflow: hidden;
    transition: height .2s ease-in;
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }

    .datepicker__calendar-wrapper {
        position: absolute;
        width: 200%;
        left: 0;
    }

    .datepicker__calendar {
        float: left;
        width: 100%;
    }

    .datepicker__calendar-container {
        padding: 0 $outer-spacing $outer-spacing;
        float: left;
    }

    table {
        width: 100%;
        table-layout: fixed;
        border-spacing: 0;
        border-collapse: collapse;
    }

    td {
        padding: 0;
    }

    .datepicker__weekdays-wrapper {
        @include clearfix();
    }

    .datepicker__weekdays-container {
        padding: 10px $outer-spacing;
        float: left;
    }

    .datepicker__weekdays {
        table-layout: fixed;
        width: 100%;
    }

    .datepicker__weekday {
        color: $weekday-color;
        font-size: 12px;
        height: 20px;
        text-align: center;
    }

    .datepicker__week {
        padding: .4rem 0;
    }

    .datepicker__day {
        position: relative;
        text-align: center;
        height: $day-height;
        width: $day-width;
        border: $day-border;

        &::after {
            content: '';
            display: block;
            margin-top: 100%;
        }

    }

    .datepicker__button {
        @include reset-btn();
        cursor: pointer;
        color: $day-text-color;
        width: 100%;
        height: 100%;
        border-radius: $day-border-radius;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        &:hover {
            border: 1px solid $day-border-color-hover;
            background-color: $day-bg-hover;
            color: $day-text-color-hover;
        }
    }

    .is-hidden {
        opacity: 0;
        display: table-cell;
    }

    .is-rest {
        border: none;

        .datepicker__button {
            color: $day-rest-text-color;
        }
    }

    .is-today {
        .datepicker__button {
            background-color: $day-bg-today;
            border: $day-border-today;
        }
    }

    .is-in-range {
        background-color: $day-in-range-bg;

        .datepicker__button {
            background-color: $day-in-range-bg;
            color: white;

            &:hover {
                background-color: $day-in-range-bg-hover;
            }
        }

        &:first-of-type {
            border-radius: $day-start-date-radius;

            &.is-last {
                border-radius: $day-border-radius;
            }
        }

        &:last-of-type {
            border-radius: $day-end-date-radius;

            &.is-first {
                border-radius: $day-border-radius;
            }

            &.is-start-date {
                border-radius: $day-border-radius;
            }
        }
    }

    .is-selected {
        .datepicker__button {
            background-color: $day-selected-bg;
            color: $day-selected-color;
            border-radius: $day-selected-radius;
            font-weight: bold;
            border-color: $day-selected-bg;

            &:hover {
                border-color: $day-selected-bg-hover;
                background-color: $day-selected-bg-hover;
                color: $day-selected-color;
            }
        }
    }

    .is-start-date {
        .datepicker__button {
            background-color: $day-start-date-bg;
            color: $day-selected-color;
        }

        &.is-in-range {
            background-color: $day-in-range-bg;
            border-radius: $day-start-date-radius;
        }
    }

    .is-last {
        &.is-in-range {
            border-radius: $day-end-date-radius;
        }
    }

    .is-first {
        &.is-in-range {
            border-radius: $day-start-date-radius;
        }
    }

    .is-end-date {
        .datepicker__button {
            background-color: $day-end-date-bg;
            color: $day-selected-color;
        }

        &.is-in-range {
            background-color: $day-in-range-bg;
            border-radius: $day-end-date-radius;
        }
    }

    .is-disabled {
        .datepicker__button {
            color: $day-disabled-text-color;
            cursor: default;

            &:hover {
                background-color: transparent;
            }
        }
    }
}
