@import "../common/scss/_helpers";
@import "../common/scss/_vars";

:host {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid $day-border-color;
    width: 300px;
    display: inline-block;
    position: relative;    
    overflow: hidden;
    border-radius: $border-radius;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

    &.is-animate {
        transition: height .2s ease-in;

        .datepicker__wrapper {
            position: absolute;
            width: 200%;
            left: 0;
        }
        
        .datepicker__calendar {
            float: left;
            width: 50%;
        }
    }

    thead {
        padding: 10px 10px 0;
    }

    tbody {
        display: block;
        padding: 0 10px 10px;
    }

    .datepicker__weekdays-wrapper {
        @include clearfix();
    }

    .datepicker__weekdays {
        table-layout: fixed;
        width: 100%;
        padding: 0 10px;
        float: left;
    }

    .datepicker__weekday {
        color: grey;
        font-size: 12px;
        height: 20px;
        text-align: center;
    }

    .datepicker__calendar {
        float: left;
    }

    .datepicker__day {
        width: 42px;
        height: 42px;
        text-align: center
    }

    .datepicker__button {
        @include reset-btn();
        cursor: pointer;
        color: $day-text-color;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid $day-border-color;
        
        &:hover {
            border: 1px solid $day-border-color-hover;
            background-color: $day-bg-hover;
            color: $day-text-color-hover;
        }
    }

    .is-hidden {
        opacity: 0;
    }

    .is-rest {
        .datepicker__button {
            color: $day-rest-text-color;
        }
    }

    .is-disabled {
        .datepicker__button {
            color: $day-disabled-text-color;

            &:hover {
                background-color: transparent;
            }
        }
    }

    .is-today {
        .datepicker__button {
            background-color: $day-bg-today;
        }
    }

    .is-selected {
        .datepicker__button {
            background-color: $day-selected-bg;
            color: $day-selected-color;

            &:hover {
                background-color: $day-selected-bg-hover
            }
        }
    }

    .is-in-range {
        .datepicker__button {
            background-color: $day-in-range-bg;
            color: white;

            &:hover {
                background-color: $day-in-range-bg-hover;
            }
        }
    }
    
    .is-start-date {
        .datepicker__button {
            background-color: $day-start-date-bg;
            color: white;
        }
    }

    .is-end-date {
        .datepicker__button {
            background-color: $day-end-date-bg;
            color: white;
        }
    }

    .is-disabled {
        .datepicker__button {
            color: $day-disabled-text-color;
            cursor: default;
            
            &:hover {
                background-color: transparent;
            }
        }
    }
}
