

<div #calendarTopContainer>
<app-navigation
  (onPreviousClick)="goToPreviousMonth()"
  (onNextClick)="goToNextMonth()"
  [date]="date"
></app-navigation>
<span class="datepicker__weekday" *ngFor="let weekday of weekdays; index as i">{{weekday}}</span>
</div>
<div class="datepicker__wrapper" #calendarContainer [ngStyle]="styleObject">
  <table cellpadding="0" cellspacing="0" class="datepicker__calendar" *ngFor="let month of months;">
    <tbody>
      <tr *ngFor="let week of month.weeks; index as i">
        <td class="datepicker__day" *ngFor="let day of week.days; index as i" 
      [ngClass]="{
        'is-today': day.isToday,
        'is-selected': day.isSelected,
        'is-in-range': day.isInRange,
        'is-start-date': day.isStartDate,
        'is-end-date': day.isEndDate
      }">
        <button class="datepicker__button" (click)="updateValue(day.date)">{{day.dayNumber}}</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
